doctype html
html(lang="en")
    include includes/head

    body
        header
            include includes/nav
        .container
            .columns
                .column.is-6
                    h1.title Important Dates
            .columns
                .column.is-6
                    form(action='/upload', enctype='multipart/form-data', method='post')
                        .field
                            .file.has-name
                                label.file-label
                                    input.file-input(type='file' name='date_upload', id='date_upload', accept='.csv')
                                    span.file-cta
                                        span.file-icon
                                            i.fas.fa-upload
                                        span.file-label
                                            | Choose a file&mldr;
                                    span.file-name#date_file_name
                                        |
                        .field
                            input.button.is-primary(type='submit', value='Upload')



//include includes/footer